.footer {
	padding: 44px 0px 20px 0px;
	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__column {
		padding: 16px 0px 0px 0px;
		&:nth-child(2) {
			flex: 0 0 105px;
			width: 105px;
			padding: 4px 0px 0px 0px;
			margin: 0px 0px 0px 30px;
			img {
				width: 100%;
				max-width: 100%;
				margin: 0px 0px 10px 0px;
			}
			@media (max-width: $md1+px) {
				flex: 0 0 90px;
				width: 90px;
			}
			@media (max-width: $md2+px) {
				flex: 0 0 70px;
				width: 70px;
			}
		}
		&:nth-child(3) {
			margin: 0px 43px 0px 0px;
		}
		p {
			margin: 0px 0px 16px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			@media (max-width: $md1+px) {
				margin: 0px 0px 10px 0px;
			}
		}
	}

	&__policy {
		cursor: pointer;
		font-weight: 300;
		font-size: 13px;
		line-height: 14 / 12 * 100%;
		color: #828282;
		margin: 0px 0px 16px 0px;
		text-decoration: underline;
		@media (min-width: $md2+px) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__copy {
		font-weight: 300;
		font-size: 13px;
		line-height: 14 / 12 * 100%;
		color: #828282;
		margin: 0px 0px 20px 0px;
		@media (max-width: $md1+px) {
			font-size: 10px;
			margin: 0px 0px 12px 0px;
		}
	}

	&__autor {
		cursor: pointer;
	}

	&__phone {
		@extend .footer__email;
	}

	&__email {
		font-size: 20px;
		line-height: 23px;
		color: #4f4f4f;
		@media (max-width: $md1+px) {
			font-size: 16px;
		}
		@media (min-width: $md2+px) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
