.footer {
	margin: 50px 0px 0px 0px;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 125px;
		@media (max-width: $md1+px) {
			height: 100px;
		}
	}

	&__column {
		&:nth-child(2) {
			flex: 0 0 178px;
			width: 178px;
			img {
				width: 100%;
				max-width: 100%;
			}
			@media (max-width: $md1+px) {
				flex: 0 0 160px;
				width: 160px;
			}
			@media (max-width: $md2+px) {
				flex: 0 0 140px;
				width: 140px;
			}
		}
		p {
			margin: 0px 0px 16px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			@media (max-width: $md1+px) {
				margin: 0px 0px 10px 0px;
			}
		}
	}

	&__policy {
		cursor: pointer;
		@extend .footer__copy;
		text-decoration: underline;
		@media (min-width: $md2+px) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__copy {
		font-weight: 300;
		font-size: 12px;
		line-height: 14 / 12 * 100%;
		color: #828282;
		margin: 0px 0px 20px 0px;
		@media (max-width: $md1+px) {
			font-size: 10px;
			margin: 0px 0px 12px 0px;
		}
	}

	&__autor {
		cursor: pointer;
	}

	&__phone {
		@extend .footer__email;
	}

	&__email {
		font-size: 20px;
		line-height: 23px;
		color: #4f4f4f;
		@media (max-width: $md1+px) {
			font-size: 16px;
		}
		@media (min-width: $md2+px) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
