//====================================================================================================
.header {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 84px;
		@media (max-width: $md1+px) {
			height: 75px;
		}
		@media (max-width: $md2+px) {
			height: 60px;
		}
	}
	&__logo {
		width: 178px;
		height: auto;
		img {
			width: 100%;
			max-width: 100%;
		}
		@media (max-width: $md1+px) {
			width: 160px;
		}
		@media (max-width: $md2+px) {
			width: 140px;
		}
	}

	&__menu {
	}

	&__contact {
	}

	&__phone {
		font-weight: bold;
		font-size: 20px;
		line-height: 23px;
		color: #3e0d41;
		padding: 0px 0px 0px 29px;
		background: url("../img/phone.svg") left center no-repeat;
		@media (max-width: $md1+px) {
			font-size: 18px;
			padding: 0px 0px 0px 25px;
		}
		@media (max-width: $md2+px) {
			font-size: 15px;
			padding: 0px 0px 0px 20px;
		}
	}
}
.icon {
}
.icon-logo {
}
.menu {
	@media (max-width: $md2+px) {
		display: none;
	}
	&__icon {
	}

	&__body {
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		li {
			padding: 0px 36px 0px 0px;
			&:last-child {
				padding: 0px 0px 0px 0px;
			}
			@media (max-width: $md1 + px) {
				padding-right: 15 / $md1 * 100vw;
			}
		}
	}

	&__link {
		font-size: 16px;
		line-height: 19px / 16px * 100%;
		color: #4f4f4f;
		transition: all 0.3s ease;
		white-space: nowrap;
		@media (max-width: $md1+px) {
			font-size: 15px;
		}
		@media (min-width: $md2+px) {
			&:hover {
				color: #eb5d56;
			}
		}
	}
}
.icon-menu {
	display: none;
	// @media (max-width: $md2+px) {
	// 	display: block;
	// 	position: relative;
	// 	width: 30px;
	// 	height: 18px;
	// 	cursor: pointer;
	// 	z-index: 5;
	// 	span {
	// 		transition: all 0.3s ease 0s;
	// 		top: calc(50% - 1px);
	// 		left: 0px;
	// 		position: absolute;
	// 		width: 100%;
	// 		height: 2px;
	// 		background-color: #3e0d41;
	// 		&:first-child {
	// 			top: 0px;
	// 		}
	// 		&:last-child {
	// 			top: auto;
	// 			bottom: 0px;
	// 		}
	// 	}
	// 	&._active {
	// 		span {
	// 			transform: scale(0);
	// 			&:first-child {
	// 				transform: rotate(-45deg);
	// 				top: calc(50% - 1px);
	// 			}
	// 			&:last-child {
	// 				transform: rotate(45deg);
	// 				bottom: calc(50% - 1px);
	// 			}
	// 		}
	// 	}
	// }
}
//====================================================================================================
