//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto Condensed";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1326;
$md1: 1379.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 10px;
	@media (max-width: $md1+px) {
		max-width: 980px;
	}
	@media (max-width: $md2+px) {
		max-width: 760px;
	}
	@media (max-width: $md3+px) {
		max-width: 560px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
// @import "nouislider";
@import "pagging";
// @import "popup";
@import "sprite";
@import "header";
@import "footer";
@import "home";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.ibg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.ibg img {
	display: none;
}
.page {
	flex: 1 1 auto;
	padding: 84px 0px 0px 0px;
	@media (max-width: $md1+px) {
		padding: 75px 0px 0px 0px;
	}
	@media (max-width: $md2+px) {
		padding: 60px 0px 0px 0px;
	}
	&__container {
	}

	&__maincontent {
	}
	&__advantages {
	}
}
.maincontent-page {
	position: relative;
	&__container {
	}
	&__body {
		display: flex;
		justify-content: space-between;
		padding: 0px 110px;
		@media (max-width: $md1+px) {
			padding: 0px 0px;
		}
	}
	&__content {
		position: relative;
		z-index: 2;
		padding: 110px 0px 74px 0px;
		background: rgba(16, 15, 15, 0.66);
		@media (max-width: $md1+px) {
			padding: 80px 0px 45px 0px;
		}
	}

	&__info {
		padding: 45px 0px 0px 0px;
		@media (max-width: $md1+px) {
			padding: 35px 0px 0px 0px;
		}
	}

	&__suptitle {
		font-family: Roboto Condensed;
		font-size: 18px;
		line-height: 100%;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		color: #ffffff;
		margin: 0px 0px 32px 0px;
		@media (max-width: $md1+px) {
			font-size: 16px;
			margin: 0px 0px 25px 0px;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 52px;
		line-height: 63 / 52 * 100%;
		text-transform: uppercase;
		color: #ffffff;
		margin: 0px 0px 37px 0px;
		@media (max-width: $md1+px) {
			font-size: 45px;
			margin: 0px 0px 30px 0px;
		}
	}

	&__subtitle {
		font-size: 18px;
		line-height: 24 / 18 * 100%;
		color: #ffffff;
		@media (max-width: $md1+px) {
			font-size: 17px;
		}
	}

	&__form {
		flex: 0 0 400px;
		@media (max-width: $md1+px) {
			flex: 0 0 350px;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.form-info {
	display: flex;
	flex-direction: column;
	padding: 36px 32px;
	background: rgba(51, 51, 51, 0.6);
	border-radius: 6px;
	@media (max-width: $md1+px) {
		padding: 27px 23px;
	}
	&__title {
		font-size: 26px;
		line-height: 100%;
		color: #ffffff;
		margin: 0px 0px 46px 0px;
		@media (max-width: $md1+px) {
			font-size: 22px;
			margin: 0px 0px 36px 0px;
		}
	}
	&__label {
		font-weight: bold;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.02em;
		color: #ffffff;
		margin: 0px 0px 12px 0px;
	}

	&__input {
		display: block;
		margin: 0px 0px 20px 0px;
		background: #ffffff;
		border: 1px solid #fcfae1;
		border-radius: 4px;
		height: 48px;
		padding: 0px 12px;
		&::placeholder {
			font-size: 16px;
			line-height: 100%;
			color: rgba(0, 0, 0, 0.5);
		}
		@media (max-width: $md1+px) {
			margin: 0px 0px 18px 0px;
		}
	}
	&__btn {
		height: 48px;
		margin: 14px 0px 30px 0px;
		font-weight: bold;
		font-size: 16px;
		line-height: 24 / 16 * 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #ffffff;
		background: linear-gradient(91.17deg, #eb5d56, #390a40);
		border-radius: 4px;
		@media (max-width: $md1+px) {
			margin: 10px 0px 25px 0px;
		}
		@media (min-width: $md2+px) {
			&:hover {
				background: linear-gradient(91.17deg, #9c3b36, #390a40);
			}
		}
	}

	&__conditions {
		font-weight: 400;
		font-size: 13px;
		line-height: 18 / 13 * 100%;
		letter-spacing: 0.5px;
		color: #ffffff;
		@media (max-width: $md1+px) {
			font-size: 10px;
		}
	}
}
.advantages-page {
	padding: 110px 0px 0px 0px;
	@media (max-width: $md1+px) {
		padding: 90px 0px 0px 0px;
	}
	@media (max-width: $md2+px) {
		padding: 70px 0px 0px 0px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__block {
		position: relative;
		flex: 0 1 103%;
		margin-left: calc(-100vw / 2 + 100% / 2);
		@media (max-width: $md2+px) {
			display: none;
		}
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__main {
		flex: 1 1 100%;
		padding: 46px 0px 0px 140px;
		@media (max-width: $md1+px) {
			padding: 0px 0px 0px 90px;
		}
		@media (max-width: $md2+px) {
			padding: 0px 0px 0px 70px;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 32px;
		line-height: 46 / 32 * 100%;
		text-transform: uppercase;
		background: linear-gradient(91.17deg, #eb5d56, #390a40);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin: 0px 0px 68px 0px;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -55px 0px 0px;
	}

	&__item {
	}
}
.item-advantages {
	flex: 0 1 50%;
	margin: 0px 0px 45px 0px;
	padding: 0px 55px 0px 0px;
	&__img {
		margin: 0px 0px 22px 0px;
	}

	&__title {
		font-size: 24px;
		line-height: 35 / 24 * 100%;
		color: #4f4f4f;
		margin: 0px 0px 17px 0px;
	}

	&__text {
		font-weight: 300;
		font-size: 18px;
		line-height: 23 / 18 * 100%;
		color: #4f4f4f;
	}
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
